// colors

$color-1: #003255; // Mako
$color-2: #148abc; // Denim
$color-3: #e1e5ea; // White
$color-4: #ff7e66; // Salmon


// fonts 

$primary-font: 'Source Sans Pro', sans-serif;

// header size

$header-height-S: 45px;
$header-height-M: 65px;

//sidebar size

$sidebar-width-M: 110px;
$sidebar-width-L: 250px;